
#ViewDiv{
    margin: 0 3rem;    
}
.textCenter {
text-align: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide the default checkbox input */
  .switch input {
    display: none;
  }
  
  /* Style the slider (the "knob") */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* Style the slider in the "on" state */
  .slider.round {
    background-color: #2196F3;
  }
  
  /* Style the slider when the checkbox is checked (on state) */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Style the slider's knob (thumb) */
  .slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Style the slider's knob (thumb) when the checkbox is checked (on state) */
  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .left{
    display: inline-block;
    background-color: chartreuse;
    position:relative; 
    width: 25vw;
    height: 100vh;
    margin: 25px 0 0 0 ;
    border-radius: 1rem;
    overflow: hidden;
  }
  .songsList{
    margin-left: 15px;
    margin-top: 20px;
  }
  .songOrder li,button{
    list-style-type: none;    
    margin-top: 10px ;
    font-size: 20px;
    
  }
  .songOrder button{
    background-color: yellow;    
  }
  .songOrder button:hover{
    background-color: green;    
  }
  
  .main{
    display: inline-block;
    background-color: chartreuse;
    position: relative;
    width: 40vw;
    height: 100vh;
    margin: 25px 0 0 25px ;
    border-radius: 1rem;
    overflow: hidden;
    padding: 15px;
  }
  #songPoster{
    background-color: aliceblue;
    width: 75%;
    height: 60vh;
    margin: 10px auto;
    padding: 15px;
    border-radius: 1rem;
    
  }
  #songImage {
    width: 100%;
    height: 70%;
    background-color: aqua;
    margin: 0 auto;
  }
  #songImage >img {
    width: 100%;
    height: 100%;
    margin: 0;
    
  }
  .controls{
    margin: 0 auto;
    background-color: bisque;
    
  }
  #prevNextButton{
    text-align: center;
  }

  .aside{
    display: inline-block;
    overflow:hidden;    
    position: relative;
    width: 20vw;
    height: 100vh;
    margin: 25px 0 0 25px ;

  }
  #playListCreation{
    line-height: 35px;
  }
  #stored{    
    background-color: chartreuse;
    position: absolute;
    width: 20vw;
    height: 100vh;
    margin: 25px 0 0 0px ;
    border-radius: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
.myplaylist{
  width: 90%;
  background-color: cornflowerblue;
}
  